
/* Task-list START */

.task-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 12px;
}

.task-title {
    margin: 0;
}

.task-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.task-actions a {
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    color: #1b1b1b;
    background-color: #fff;
    border-radius: 3px;
    font-size: 0.8em;
}
.task-actions a i{
    font-size:16px;
}
.add-btn {
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #1b1b1b;
    border: none;
    border-radius: 3px;
    font-size: 15px;
}

.add-style a {
    text-decoration: none;
    margin-bottom: 10px;
}

.add-btn i {
    margin-right: 5px;
}


/* Task-list END */
