<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/task_list.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/task_form.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/register.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav>
    <div class="logo">
        <span class="test">T</span>o<span class="test">d</span>o&nbsp;<span class="test">L</span>ist
    </div>
    <input type="checkbox" id="click" class="check">
    <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
    </label>
    <ul>
        {% if user.is_authenticated %}
        <li><a class="active" href="">Hello, {{user.first_name}}</a></li>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'task_list' %}">Tasks</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'task_list' %}">Tasks</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>
<br>
{% block contents %}



{% endblock %}
<br>
<footer class="footer">
  <p>Copyright &copy; 2023 <a href="{% url 'home' %}">Todo List</a> All Rights Reserved</p>
  <p>Contact: <a href="mailto:adityathota8140@gmail.com">adityathota8140@gmail.com</a></p>
    <ul class="social-icons">
    <li><a href="https://twitter.com/yourproject" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://www.instagram.com/yourproject" target="_blank"><i class="fab fa-instagram"></i></a></li>
    <li><a href="https://www.facebook.com/yourproject" target="_blank"><i class="fab fa-facebook"></i></a></li>
    <li><a href="https://www.youtube.com/channel/yourchannel" target="_blank"><i class="fab fa-youtube"></i></a></li>
    </ul>
</footer>


</body>
</html>