{% extends 'base.html' %}

{% block contents %}

<div class="tlist">
<h2>My Tasks</h2><br>
<div class="add-style">
<a href="{% url 'create_task' %}" class="add-btn"><i class="fas fa-plus"></i> Add New Task</a>
</div>

{% for task in tasks %}
<ul class="task-list">
  {% if task.completed %}
  <li class="task-item">
    <div class="task-info">
      <p class="task-title"><s>{{task.title}}</s></p>
    </div>
    <div class="task-actions">
      <a href="{% url 'edit_task' task.id %}" class="edit-btn"><i class="fas fa-pencil-alt"></i></a>
      <a href="{% url 'delete_task' task.id %}" class="delete-btn"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {% else %}
  <li class="task-item">
    <div class="task-info">
      <p class="task-title">{{task.title}}</p>
    </div>
    <div class="task-actions">
      <a href="{% url 'edit_task' task.id %}" class="edit-btn"><i class="fas fa-pencil-alt"></i></a>
      <a href="{% url 'delete_task' task.id %}" class="delete-btn"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {% endif %}
</ul>
{% endfor %}
</div>

{% endblock %}